<section class="container">
  <div class="row">
    <!-- foto futuras implementaciones -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <strong>ID</strong>: <input class="form-control" type="text" [(ngModel)]="newCharacter.id">
            <br>
            <strong>Name</strong>: <input class="form-control" type="text" [(ngModel)]="newCharacter.name">
            <br>
            <strong>Status</strong>: <input class="form-control" type="text" [(ngModel)]="newCharacter.status">
            <br>
            <strong>Species</strong>: <input class="form-control" type="text" [(ngModel)]="newCharacter.species">
            <br>
            <strong>Gender</strong>: <input class="form-control" type="text" [(ngModel)]="newCharacter.gender">
            <br>
            <strong>Origin</strong>: <input class="form-control" type="text" [(ngModel)]="newCharacter.origin">
            <br>
            <strong>Location</strong>: <input class="form-control" type="text" [(ngModel)]="newCharacter.location">
          </p>
          <button class="btn btn-danger" (click)="save()">Save</button>&nbsp;
          <button class="btn btn-danger" (click)="onBack()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>

