<div class="row">
  <div class="col-sm-6 col-md-3 container" *ngIf="currentUserName; else loggedOut">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{currentUserName}} Perfil</h5>
        <p class="card-text">
          <strong>Token</strong>:
          {{tokenUser}}
          <br>
          <strong>Rol</strong>: <!-- a implementar segun roles -->
          <span *ngIf="currentUserName == 'GeeksHubs_2022'">Admin</span>
          <span *ngIf="currentUserName == 'CT2022'">User</span>
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Primero login
</ng-template>
