<div class="row">
  <div class="columna" class="col-sm-6 col-md-3" *ngFor="let character of characters; let i = index">
    <div class="card">
      <img src="{{character.image}}" height="150px" class="card-img-top" alt="imagen del character">
      <div class="card-body">
        <h5 class="card-title">{{character.name | uppercase}}, {{character.id}}</h5>
        <p class="card-text"><strong>Status</strong>: {{character.status}} <br> <strong>Species</strong>: {{character.species}}</p>
        <button class="btn btn-danger" [routerLink]="['/characters',character.characterId]">See more</button>
      </div>
    </div>
  </div>
</div>

